[Desktop Entry]
Encoding=UTF-8
Name=Lux
Comment=Lux P2P Cryptocurrency
Exec=lux-qt %u
Terminal=false
Type=Application
Icon=lux128
MimeType=x-scheme-handler/lux;
Categories=Office;Finance;
Name[en_AU]=Lux
