# Built Binaries.
luxd-qt
src/luxd
src/*.exe

# Objects.
src/obj/*.P
src/obj/*.o
src/build.h

# Compilation and Qt preprocessor.
*.qm

# Dynamicly built Makefile
Makefile

# Resources
qrc_*.cpp

# Qt Creator Workspace.
*.pro.user

# Mac specific
.DS_Store

# Build Directory
build

# LevelDb Makefile
!src/leveldb/Makefile

# Generic
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch