[submodule "src/lux-installer"]
	path = src/lux-installer
	url = https://github.com/216k155/lux-installer.git
[submodule "src/luxgate-priv"]
	path = src/luxgate
	url = https://github.com/216k155/luxgate-priv.git
