sudo: required
dist: trusty

addons:
  hosts:
    - lux-tester
  hostname: lux-tester

git:
  submodules: false

os: linux
language: generic
cache:
  apt: true
  ccache: true
  directories:
  - depends/built
  - depends/sdk-sources
  - $HOME/.ccache
env:
  global:
    - MAKEJOBS=-j6
    - RUN_TESTS=false
    - CHECK_DOC=0
    - BOOST_TEST_RANDOM=1$TRAVIS_BUILD_ID
    - CCACHE_SIZE=400M
    - CCACHE_TEMPDIR=/tmp/.ccache-temp
    - CCACHE_COMPRESS=1
    - CCACHE_DIR=$HOME/.ccache
    - BASE_OUTDIR=$TRAVIS_BUILD_DIR/out
    - SDK_URL=https://bitcoincore.org/depends-sources/sdks
    - PYTHON_DEBUG=1
    - WINEDEBUG=fixme-all
    - DEPENDS_TIMEOUT=900
  matrix:
# ARM
    - HOST=arm-linux-gnueabihf PACKAGES="g++-arm-linux-gnueabihf libprotobuf-dev protobuf-compiler libqrencode-dev" CHECK_DOC=0 GOAL="install" BITCOIN_CONFIG="--enable-glibc-back-compat --enable-reduce-exports --disable-tests --disable-zmq --disable-updater"
# Win32
#   - HOST=i686-w64-mingw32 DPKG_ADD_ARCH="i386" PACKAGES="nsis wine1.6 cmake libevent-dev libminiupnpc-dev libzmq3-dev g++-mingw-w64-x86-64 mingw-w64-x86-64-dev g++-mingw-w64-i686 mingw-w64-i686-dev libqrencode-dev qttools5-dev-tools qttools5-dev qtbase5-dev libprotobuf-dev -y" RUN_TESTS=false BITCOIN_CONFIG="--with-gui=qt5 --disable-shared --enable-reduce-exports --disable-updater" GOAL="src/qt/lux-qt.exe"
    - HOST=i686-w64-mingw32 DPKG_ADD_ARCH="i386" DEP_OPTS="NO_QT=0" PACKAGES="nsis wine1.6 cmake g++-mingw-w64-x86-64 mingw-w64-x86-64-dev g++-mingw-w64-i686 mingw-w64-i686-dev -y" RUN_TESTS=false BITCOIN_CONFIG="--enable-reduce-exports --disable-zmq --without-miniupnpc --disable-updater" GOAL="install"
# Cross-Mac
#   - HOST=x86_64-apple-darwin14 PPA="ppa:bitcoin/bitcoin" PACKAGES="cmake libcap-dev librsvg2-bin libz-dev libtiff-tools python3-setuptools-git" BITCOIN_CONFIG="--with-gui=qt5 --enable-reduce-exports --disable-tests --disable-zmq --disable-updater" OSX_SDK=10.11 GOAL="src/qt/lux-qt"
    - HOST=x86_64-apple-darwin14 PPA="ppa:bitcoin/bitcoin" DEP_OPTS="NO_QT=1" PACKAGES="cmake libcap-dev librsvg2-bin libz-dev libtiff-tools" BITCOIN_CONFIG="--without-gui --enable-reduce-exports --disable-tests --disable-zmq --disable-updater" OSX_SDK=10.11 GOAL="src/luxd"

before_install:
    - export PATH=$(echo $PATH | tr ':' "\n" | sed '/\/opt\/python/d' | tr "\n" ":" | sed "s|::|:|g")
install:
    - if [ -n "$PPA" ]; then travis_retry sudo add-apt-repository "$PPA" -y; fi
    - if [ -n "$DPKG_ADD_ARCH" ]; then sudo dpkg --add-architecture "$DPKG_ADD_ARCH" ; fi
    - if [ -n "$PACKAGES" ]; then travis_retry sudo apt-get update --allow-unauthenticated; fi
    - if [ -n "$PACKAGES" ]; then travis_retry sudo apt-get install --no-install-recommends --no-upgrade --allow-unauthenticated -m -q $PACKAGES; fi
before_script:
    - unset CC; unset CXX
    - if [ "$CHECK_DOC" = 1 ]; then contrib/devtools/check-doc.py; fi
    - mkdir -p depends/SDKs depends/sdk-sources
    - if [ -n "$OSX_SDK" -a ! -f depends/sdk-sources/MacOSX${OSX_SDK}.sdk.tar.gz ]; then curl --location --fail $SDK_URL/MacOSX${OSX_SDK}.sdk.tar.gz -o depends/sdk-sources/MacOSX${OSX_SDK}.sdk.tar.gz; fi
    - if [ -n "$OSX_SDK" -a -f depends/sdk-sources/MacOSX${OSX_SDK}.sdk.tar.gz ]; then tar -C depends/SDKs -xf depends/sdk-sources/MacOSX${OSX_SDK}.sdk.tar.gz; fi
    - make $MAKEJOBS -C depends HOST=$HOST $DEP_OPTS
    - mkdir -p src/luxgate/test
    - cd src/luxgate
    - touch atomicswap.h atomicswap.cpp context.h luxgate.h luxgate.cpp lgconfig.h version.h lgconfig.cpp rpcluxgate.cpp blockchainclient.h blockchainclient.cpp http.h http.cpp zmqsub.h zmqsub.cpp bitcoinclient.h bitcoinclient.cpp luxclient.h luxclient.cpp order.h order.cpp orderbook.h orderbook.cpp storage.h storage.cpp
    - cd -
    - cd src/luxgate/test
    - touch test_luxgate.cpp unspent_output_generator.h unspent_output_generator.cpp
    - cd -
    - mkdir -p src/luxgate/sql
    - cd src/luxgate/sql
    - touch sqlite.h sqlite.c
    - cd -
  
script:
    - export TRAVIS_COMMIT_LOG=`git log --format=fuller -1`
    - if [ -n "$USE_SHELL" ]; then export CONFIG_SHELL="$USE_SHELL"; fi
    - OUTDIR=$BASE_OUTDIR/$TRAVIS_PULL_REQUEST/$TRAVIS_JOB_NUMBER-$HOST
    - BITCOIN_CONFIG_ALL="--disable-dependency-tracking --prefix=$TRAVIS_BUILD_DIR/depends/$HOST --bindir=$OUTDIR/bin --libdir=$OUTDIR/lib"
    - depends/$HOST/native/bin/ccache --max-size=$CCACHE_SIZE
    - test -n "$USE_SHELL" && eval '"$USE_SHELL" -c "./autogen.sh"' || ./autogen.sh
    - ./configure CFLAGS="-std=c99" --cache-file=config.cache $BITCOIN_CONFIG_ALL $BITCOIN_CONFIG || ( cat config.log && false)
    - make distdir PACKAGE=bitcoin VERSION=$HOST
    - cd bitcoin-$HOST
    - ./configure CFLAGS="-std=c99" --cache-file=../config.cache $BITCOIN_CONFIG_ALL $BITCOIN_CONFIG || ( cat config.log && false)
    - make $MAKEJOBS $GOAL || ( echo "Build failure. Verbose build follows." && make $GOAL V=1 ; false )
    - export LD_LIBRARY_PATH=$TRAVIS_BUILD_DIR/depends/$HOST/lib
    - if [ "$RUN_TESTS" = "true" ]; then travis_wait 30 make $MAKEJOBS check VERBOSE=1; fi
    - if [ "$RUN_TESTS" = "true" ]; then qa/pull-tester/rpc-tests.py --coverage; fi
    - rm -rf .gitignore
after_script:
    - echo $TRAVIS_COMMIT_RANGE
    - echo $TRAVIS_COMMIT_LOG
