
# luxd RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=31500
background-color: rgb(0, 0, 0);
alternate-background-color: rgb(86, 0, 120);

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=390000

# bootstrap.dat input/output settings (linearize-data)
netmagic=70352205
input=/home/example/.lux
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt
split_year=1

