/***************************************************************************************/
/**[COLOR CODES] DARK grey:#262626 DARK grey "grill" #424242 WHITE-:#fff5f5 *********/
/***************OTHER COLORS USER Light red #ff7d7d*************************************/
/***************************************************************************************/
/*
WalletFrame { background: #262626 url(':/images/walletFrame_bg') repeat top right; border-top: 1px solid #fff5f5; margin:0; padding:0; }
*/

QDialog { background-color: #262626; color: #fff; }
QWidget { background-color: #262626; color: #fff; }
QLabel { color: #fff }
QFrame { background-color: #262626; alternate-background-color:#424242; gridline-color: #fff5f5; border: 0px solid #fff5f5; color: #fff; min-height:2em; }

QLineEdit{ color:#fff; border: 1px solid #fff5f5; padding-left:10px; padding-right:10px; min-height:25px; }


QPushButton { background-color: #262626; color:#fff; border: 1px solid #fff5f5; padding-left:10px; padding-right:10px; min-height:25px; min-width:75px; }
QPushButton::hover { background-color:#fff5f5; color:#262626; }


QSpinBox { background-color: #262626; color:#fff; border: 1px solid #fff5f5; padding-left:10px; padding-right:10px; min-height:25px; }
QDoubleSpinBox { background-color: #262626; color:#fff; border: 1px solid #fff5f5; padding-left:10px; padding-right:10px; min-height:25px; }
QComboBox { background-color: #262626; color:#fff; border: 1px solid #fff5f5; padding-left:10px; padding-right:10px; min-height:25px; }
QTimeEdit { background-color: #262626; color:#fff; border: 1px solid #fff5f5; padding-left:10px; padding-right:10px; min-height:25px; }
QDateEdit { background-color: #262626; color:#fff; border: 1px solid #fff5f5; padding-left:10px; padding-right:10px; min-height:25px; }
QDateTimeEdit { background-color: #262626; color:#fff; border: 1px solid #fff5f5; padding-left:10px; padding-right:10px; min-height:25px; }



QTextBrowser { background-color: #262626; color:#fff; border: 1px solid #fff5f5; padding-left:10px; padding-right:10px; min-height:25px; }
QTextEdit { background-color: #262626; color:#fff; border: 1px solid #fff5f5; padding-left:10px; padding-right:10px; min-height:25px; }
QScrollArea { background-color: #262626; color:#fff; border: 1px solid #fff5f5; padding-left:10px; padding-right:10px; min-height:25px; }

QCheckBox { background-color: #262626; color:#fff; border: 0px solid #fff5f5; }
QGroupBox { background-color: #262626; color:#fff; border: 1px solid #fff5f5; }
QValidatedLineEdit { background-color: #262626; color:#fff; border: 1px solid #fff5f5; }
QRadioButton { background-color: #262626; color:#fff; border: 0px solid #fff5f5; }
QToolButton { background-color: #262626; color:#fff; border: 0px solid #fff5f5; padding-left:10px; padding-right:10px; min-height:25px; }
QGroupBox { background-color: #262626; color:#fff; border: 1px solid #fff5f5; padding-top: 10px; }
QViewList { background-color: #262626; color:#fff; border: 1px solid #fff5f5; }

QTabWidget { background-color: #262626; color:#fff; border: 1px solid #fff5f5; margin-left: -1px !important;}


QProgressBar { background-color: #262626; color:#fff; border: 1px solid #fff5f5; min-height:2em; text-align: center; }
QProgressBar::chunk { background-color:#fff5f5; width: 20px; color:#262626 }


QTableWidget { background-color: #262626; alternate-background-color:#424242; gridline-color: #fff5f5; border: 0px solid #fff5f5; border-bottom: 1px solid #fff5f5; border-right: 1px solid #fff5f5; color: #fff; min-height:2em; }
QTableView::item:selected:!active { selection-background-color: transparent; selection-color: #fff; }
QTableView::item:selected:active { selection-background-color: #fff5f5; selection-color: #262626; }
QHeaderView { background-color: transparent; outline: 10; border-top: 1px solid #fff5f5; border-left: 1px solid #fff5f5;}
QHeaderView::section { qproperty-alignment: center; background-color: #262626; color: #fff; min-height: 25px; min-width: 20px; font-weight: bold; font-size: 12px; border: 0; border-right: 1px solid #fff5f5; border-bottom: 1px solid #fff5f5; padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px; }
QHeaderView::section:last { border-right: 1px solid #fff5f5; }
QTableCornerButton::section { background-color:#262626; border: 0 ; border: 0px solid #fff5f5;}


QTabWidget::pane { background-color:#262626; border: 1px solid #fff5f5; margin-top:-1px; }
QTabBar::tab{ background-color:#262626; color: #fff; border: 1px solid #fff5f5; padding-left:15px; padding-right:15px; min-height:25px; }
QTabBar::tab:hover:!selected { background-color:#fff5f5; color: #262626 }
QTabBar::tab:selected { background-color:#262626; margin-bottom: -1px; }
QTabBar::tab:!selected { background-color:#262626; }

QToolBox { background-color: #262626; color:#fff; border: 1px solid #fff5f5; padding:10px; min-height:25px; }
QDockWidget { background-color: #262626; color:#fff; border: 1px solid #fff5f5; padding:10px; min-height:25px; }


QSlider  { background-color: #262626; border: 0px solid #fff5f5; padding:5px; min-height:25px; }
QSlider::handle:horizontal { background-color: #fff5f5; border: px solid #262626; width: 18px; margin: -1px 0; margin-left: -1px; border-radius: 5px; }
QSlider::groove:horizontal { border: 1px solid #fff5f5; height: 8px; background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #262626, stop:1 #262626); margin: 2px 0; border-radius: 5px; }
QSlider::handle:vertical { background-color: #fff5f5; border: 1px solid #262626; height: 18px; margin: -2px 0; margin-top: -1px; border-radius: 5px; }
QSlider::groove:vertical { border: 1px solid #fff5f5; width: 10px; background: qlineargradient(x0:1, y0:1, x0:2, y1:2, stop:1 #262626, stop:0 #262626); margin: 2px 0; border-radius: 5px; }


QScrollBar:vertical { border: 1px solid #fff5f5; background: #262626; width: 13px; margin: 10px 0 10px 0; }
QScrollBar::handle:vertical { background: #fff5f5; min-height: 15px; width: 8px; border-radius: 5px; border: 1px solid #fff5f5; }
QScrollBar::add-line:vertical { border: 1px solid #fff5f5; background: #262626; height: 10px; subcontrol-position: bottom; subcontrol-origin: margin; }
QScrollBar::sub-line:vertical { border: 1px solid #fff5f5; background: #262626; height: 10px; subcontrol-position: top; subcontrol-origin: margin; }
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical { border: 1px solid #fff5f5; width: 4px; height: 4px; background: #262626; }
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical { background: none; }

QScrollBar:horizontal { border: 1px solid #fff5f5; background: #262626; height: 13px; margin: 0 10px 0 10px; }
QScrollBar::handle:horizontal { background: #fff5f5; min-width: 15px; height: 8px; border-radius: 5px; border: 1px solid #fff5f5; }
QScrollBar::add-line:horizontal { border: 1px solid #fff5f5; background: #262626; width: 10px; subcontrol-position: right; subcontrol-origin: margin; }
QScrollBar::sub-line:horizontal { border: 1px solid #fff5f5; background: #262626; width: 10px; subcontrol-position: left; subcontrol-origin: margin; }
QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:vertical { border: 1px solid #fff5f5; width: 4px; height: 4px; background: #262626;  }
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal { background: none; }


QMenuBar { background-color: #262626; color:#fff; border-top: 1px solid #fff5f5; border-left: 1px solid #fff5f5; border-right: 1px solid #fff5f5; padding-bottom: 10px; }
QMenuBar::item:selected { background-color:#fff5f5; color: #262626 }
QMenu { background-color: #262626; color:#fff; border: 1px solid #fff5f5; }
QMenu::item:selected { background-color:#fff5f5; color: #262626 }

QToolBar { background-color: #262626; color:#fff; border-left: 1px solid #fff5f5; border-right: 1px solid #fff5f5; }
QStatusBar { background-color: #262626; color:#fff; border-left: 1px solid #fff5f5; border-right: 1px solid #fff5f5; border-bottom: 1px solid #fff5f5; min-height:3em; }

/************************************************************************/
/***adding css to specifict items on the QT as some items are not formatted with the above ***/
/************************************************************************/

/**************************** OVERVIEW SCREEN *******************************************/

/* Wallet Balance */
QWidget .QFrame#frame { min-width:490px; } 
QWidget .QFrame#frame > .QLabel { min-width:190px; font-weight:normal; min-height:30px; }

/* Darksend Widget */
QWidget .QFrame#frameDarksend { background-color:transparent; qproperty-minimumSize: 451px 343px; } 
QWidget .QFrame#frameDarksend QWidget { qproperty-geometry: rect(10 0 431 35); }
QWidget .QFrame#frameDarksend #formLayoutWidget { qproperty-geometry: rect(10 51 451 175); }
QWidget .QFrame#frameDarksend #formLayoutWidget > .QLabel { min-width:175px; font-weight:normal; min-height:25px; }

/* Wallet Balance Label */
QWidget .QFrame#frame .QLabel#label_5 { qproperty-alignment: 'AlignVCenter | AlignRight'; min-width:140px; background-color:transparent; color:#fff; margin-right:5px; padding-right:5px; font-size:14px; font-weight: bold; }

 /* Wallet Sync Status */
QWidget .QFrame#frame .QLabel#labelWalletStatus, 
QWidget .QFrame#frameDarksend .QLabel#labelDarksendSyncStatus { qproperty-alignment: 'AlignVCenter | AlignLeft'; margin-left:3px; color:#ff7d7d; }

/* Spendable Header */
QWidget .QFrame#frame .QLabel#labelSpendable, 
QWidget .QFrame#frame .QLabel#labelWatchonly { qproperty-alignment: 'AlignVCenter | AlignLeft'; font-size:12px; margin-left:18px; color: #fff; }

 /* Available Balance and luxsend Label */
QWidget .QFrame#frame .QLabel#labelBalanceText, 
QWidget .QFrame#frameDarksend .QLabel#label_2  {
    qproperty-alignment: 'AlignVCenter | AlignRight';
    min-width:140px;
    background-color:#fff5f5;
    color:#262626;
    margin-right:5px;
    padding-right:5px;
    font-weight:bold;
    font-size:14px;
    min-height:35px;
}

/* Available Balance */
QWidget .QFrame#frame .QLabel#labelBalance, 
QWidget .QFrame#frame .QLabel#labelWatchAvailable { 
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-size:12px;
    font-weight:bold;
    color:#fff5f5;
    margin-left:0px;
}

/* Pending, immature and total Balance Label */
QWidget .QFrame#frame .QLabel#labelPendingText, 
QWidget .QFrame#frame .QLabel#labelImmatureText, 
QWidget .QFrame#frame .QLabel#labelTotalText,
QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#darksendEnabledText,
QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#labelCompletitionText,
QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#labelAnonymizedText,
QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#labelSubmittedDenomText,
QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#labelAmountRoundsText,
QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#labelSubmittedDenomText { 
    qproperty-alignment: 'AlignVCenter | AlignRight';
    min-width:140px;
    font-size:12px;
    background-color:transparent;
    color:#fff;
    margin-right:5px;
    padding-right:5px;
}

/* Pending, immature and total Balance */
QWidget .QFrame#frame .QLabel#labelUnconfirmed, 
QWidget .QFrame#frame .QLabel#labelImmature, 
QWidget .QFrame#frame .QLabel#labelTotal { 
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-size:12px;
    margin-left:0px;
    color: #fff
}

/* Watch-only Pending, immature and total Balance */
QWidget .QFrame#frame .QLabel#labelWatchPending, 
QWidget .QFrame#frame .QLabel#labelWatchImmature, 
QWidget .QFrame#frame .QLabel#labelWatchTotal { 
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    font-size:12px;
    margin-left:16px;
    color: #fff; 
}

/* Darksend Status */ 
QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#darksendEnabled,
QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#labelAnonymized,
QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#labelAmountRounds ,
QWidget .QFrame#frameDarksend #formLayoutWidget .QLabel#labelSubmittedDenom { }

/* Darksend Status Notifications */
QWidget .QFrame#frameDarksend .QLabel#darkSendStatus {/* Darksend Status Notifications */qproperty-alignment: 'AlignVCenter | AlignCenter'; qproperty-geometry: rect(70 226 395 34); font-size:11px; color:#fff; }

/* Buttons */

/*QWidget .QFrame#frameDarksend QPushButton:focus { border:none; outline:none; }*/
/* No idea why this button is in the .UI file... */
QWidget .QFrame#frameDarksend .QPushButton#runAutoDenom { qproperty-geometry: rect(0 0 0 0); background-color:#262626; color:#262626; border:1px solid #262626; }
QWidget .QFrame#frameDarksend .QPushButton#runAutoDenom :hover { qproperty-geometry: rect(0 0 0 0); background-color: #262626; color:#262626; border:0px solid #262626; }

/* Start Luxsend Mixing */ 
QWidget .QFrame#frameDarksend .QPushButton#toggleDarksend { qproperty-geometry: rect(115 270 295 40); border:1px solid #fff5f5; font-size:15px; font-weight:bold; padding:0px; }
QWidget .QFrame#frameDarksend .QPushButton#toggleDarksend:hover { }

/* Try Mix Button */
QWidget .QFrame#frameDarksend .QPushButton#darksendAuto { qproperty-geometry: rect(120 315 140 25); min-height:25px; font-size:9px; padding:0px; }
QWidget .QFrame#frameDarksend .QPushButton#darksendAuto:hover { }
QWidget .QFrame#frameDarksend .QPushButton#darksendAuto:pressed { }

/* Reset Button */
QWidget .QFrame#frameDarksend .QPushButton#darksendReset { qproperty-geometry: rect(265 315 140 25); min-height:25px; font-size:9px; padding:0px; }
QWidget .QFrame#frameDarksend .QPushButton#darksendReset:hover { }
QWidget .QFrame#frameDarksend .QPushButton#darksendReset:pressed { }

/* Transactions Widget */
QWidget .QFrame#frame_2 { min-width:410px; background-color: #262626; alternate-background-color:#424242; color: #fff; margin-right:20px; margin-left:0; margin-top:0; }

/* Recent Transactions and Tokens Label */
QWidget .QFrame#frame_2 .QLabel#label_4,
QWidget#OverviewPage .QLabel#labelTokens { min-width:180px; color:#fff; font-weight:bold; font-size:15px; min-height:24px; }

/* Recent Transactions Sync Status */
QWidget .QFrame#frame_2 .QLabel#labelTransactionsStatus { qproperty-alignment: 'AlignBottom | AlignRight'; color: #ff7d7d; min-width:93px; min-height:16px; }

/* Transaction List */
QWidget .QFrame#frame_2 QListView { color: #fff; font-weight:normal; font-size:12px; max-width:380px; min-height:200px !important }

/*-----------------------coin control grid dialog------------------------------------*/

QDialog#CoinControlDialog .QFrame#frame { background-color: #262626; color:#fff; border: 1px solid #fff5f5 !important; }
QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:selected { background-image: url(':/images/qtreeview_selected'); background-repeat:no-repeat; background-position:center; }
QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:checked { background-image: url(':/images/qtreeview_selected'); background-repeat:no-repeat; background-position:center; }

/**************************** SEND DIALOG ***********************************************/

QDialog#SendCoinsDialog { background-color: transparent; }
QDialog#SendCoinsDialog .QFrame#frameCoinControl { background-color: #262626; color:#fff; border: 1px solid #fff5f5 !important; }
QDialog#SendCoinsDialog .QScrollArea#scrollArea { background-color: #262626; color:#fff; border: 0px solid #fff5f5 !important; }
QDialog#SendCoinsDialog .QFrame#frameFee { background-color: #262626; color:#fff; border: 1px solid #fff5f5 !important; }

QStackedWidget#SendCoinsEntry { background-color: #262626; color:#fff; border: 1px solid #fff5f5 !important; }

/**************************** RECEIVED DIALOG ***********************************************/

QWidget#ReceiveCoinsDialog { background-color: transparent; }
QWidget#ReceiveCoinsDialog .QFrame#frame2 { background-color: #262626; color:#fff; border: 1px solid #fff5f5 !important; }

/**************************** LSR TOCKEN ***********************************************/

QWidget#LSRToken .QListView#tokensList { background-color: #262626; alternate-background-color:#424242; gridline-color: #fff5f5; border: 1px solid #fff5f5; color: #fff; min-height:2em;}
QWidget#LSRToken QToolButton#addTokenButton, 
QWidget#LSRToken QToolButton#receiveButton, 
QWidget#LSRToken QToolButton#sendButton
{ border: 1px solid #fff5f5; }

/**************************** CREATE, READ & WRITE CONTRACT ***********************************************/

QWidget#CreateContract .QGroupBox#groupBoxConstructor,
QWidget#CreateContract .QGroupBox#groupBoxOptional,
QWidget#CallContractPage .QGroupBox#groupBoxFunction,
QWidget#CallContractPage .QGroupBox#groupBoxOptional,
QWidget#SendToContract .QGroupBox#groupBoxFunction,
QWidget#SendToContract .QGroupBox#groupBoxOptional
{ border: 0px solid #fff5f5 !important; }

/************************************ BUTTONS FIX RPC CONSOLE *****************************************/

QDialog#RPCConsole QPushButton#promptIcon,
QDialog#RPCConsole QPushButton#fontSmallerButton,
QDialog#RPCConsole QPushButton#fontBiggerButton,
QDialog#RPCConsole QPushButton#clearButton
{ background-color:transparent; padding-left:4px !important; padding-right:4px !important; min-width:20px !important;}

QDialog#RPCConsole QPushButton#fontSmallerButton:hover,
QDialog#RPCConsole QPushButton#fontBiggerButton:hover,
QDialog#RPCConsole QPushButton#clearButton:hover
{ background-color:#fff5f5; color:#262626;}

QDialog#RPCConsole QPushButton#promptIcon { border: 0px solid #fff5f5 !important; }

/************************************ BUTTONS FIX AND WINDOW BORDERS************************************/
QStackedWidget#SendCoinsEntry .QToolButton#addressBookButton,
QStackedWidget#SendCoinsEntry .QToolButton#pasteButton,
QStackedWidget#SendCoinsEntry .QToolButton#deleteButton,
QWidget#SendToContract .QToolButton#loadInfoButton,
QWidget#SendToContract .QToolButton#pasteAddressButton,
QWidget#SendToContract .QToolButton#saveInfoButton,
QWidget#CallContractPage .QToolButton#loadInfoButton,
QWidget#CallContractPage .QToolButton#pasteAddressButton,
QWidget#CallContractPage .QToolButton#saveInfoButton,
QWidget#ContractBookPage,
QWidget#AddressBookPage,
QWidget#centralwidget,
QDialog#CoinControlDialog,
QDialog#ReceiveRequestDialog,
QDialog#AskPassphraseDialog,
QDialog#AddEditLuxNode,
QDialog#Bip38ToolDialog,
QDialog#DarksendConfig,
QDialog#EditAddressDialog,
QDialog#EditContractInfoDialog,
QDialog#HelpMessageDialog,
QDialog#Intro,
QDialog#LuxNodeConfigDialog,
QDialog#OpenURIDialog,
QDialog#OptionsDialog,
QDialog#RestoreDialog,
QDialog#RPCConsole,
QDialog#SignVerifyMessageDialog,
QDialog#TokenDescDialog,
QDialog#TransactionDescDialog,
QDialog#MultiSendDialog,
QStackedWidget#ContractResult
{ border: 1px solid #fff5f5 !important; }

QWidget#buttonsContainerWhite {border-left: 1px solid #fff5f5 !important; border-bottom: 1px solid #fff5f5 !important; border-right: 1px solid #fff5f5 !important; }

/************************************ TOKEN TRANSACTION DIALOG ************************************/

QDialog#TokenDescDialog { background-color: #262626; color: #fff; }

